<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href="\Content\css\styles.css">
</head>
<body>

    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">The Big Bad Wolf Library</a>
            </div>
        </nav>
        <div class="main">
            <h5>Are you a: </h5>
            <h3><a href="/patrons">Patron</a></h3>
            <h3><a href="/librarian_index">Librarian</a></h3>
        </div>
    </div>
</body>
</html>
