@{
    Layout="Shared/_layout.cshtml";
}

<h3>Don't have an account yet?</h3>
<form action="/patron/new" method="post">
    <label for="name"> Your name:</label>
    <input id="name" name = "name" type = "text">
    <button type="submit" name="button" class="btn">Add yourself!</button>
</form>


@if(@Model != null)
{
    foreach(var patron in @Model)
    {
        <h4><a href="/patron/@patron.GetId()">@patron.GetName()</a></h4>
    }
}
else
{
    <h4>There are no current patrons.</h4>
}
